<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Marina Old Town" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" rel="stylesheet">
      <link href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.theme.min.css" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.svg" type="image">
    <link rel="apple-touch-icon" href="/icon.svg">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body>
  <!-- Navbar -->
  <nav class="navbar has-background-success-soft" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/nlogo.png" width="132" height="28" class="image is-fluid">
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start font-lobster">
        <a class="navbar-item" href="/about">
          About us
        </a>
        <a class="navbar-item" href="/rules">
          Rules
        </a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">
            Help
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item" href="/contact">
              Contact
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item" href="/help">
              Report an issue
            </a>
          </div>
        </div>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button has-background-info-70 font-lobster is-rounded" href="/dateandtime">
              Calendar
            </a>
            <a class="button has-background-success-60 font-lobster is-rounded" href="/">
              Login
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <%= yield %>
  <div class="section is-small has-background-success-95"></section>
  <footer class="footer has-background-success-soft">
      <nav class="breadcrumb is-centered has-text-centered">
        <ul><li><a href="#">goro</a></li>
          <li><a href="#">goro</a></li><li><a href="#">goro</a></li><li><a href="#">goro</a></li></ul>
      <p><strong>Hello, Friend</strong></p>
      <p>Hello, Friend</p>
      <p>Hello, Friend</p>

  </footer>
  </body>
   <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/glide.min.js"></script>
</html>
